<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Startup Agenda</title>

		<meta name="description" content="Agenda online dos melhores eventos sobre startups do Brasil" />
		<meta name="keywords" content="startup, meetup, empreendedorismo, evento de empreendedorismo, evento de startups" />
		<meta name="author" content="Pedro Marins" />
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		
		<link rel="stylesheet" href="../media/css/style.css">
		
		<!--Google Analytics-->
    </head>

	<body>
		<section id="tudo">
			<header id="header">
				<div id="header-content">
					<h1><a href="./index.html">Startup Agenda</a></h1>
					<ul id="menu-do-header">
						<li><a id="last" href="#fixme">eventos</a></li>
						<li><a href="#fixme">sobre</a></li>
						<li><a href="#fixme">contato</a></li>
					</ul>
				</div>
			</header>
			
			<section id="conteudo">
				<section id="center-content">
					<section id="lista-de-eventos">
						<article class="evento">
							<a href="./evento.html">
								<div class="data-do-evento"><p class="mes-do-evento">Fevereiro</p><span>28</span></div>
								<img class="logo-do-evento" src=""/>
								<h2>Campus Party Brasil 2012</h2>
								<h3>Parque do Ibirapuera - São Paulo / SP</h3>
								<p>Sexta-Feira, de 9:00h às 18:00h</p>
							</a>						
						</article>
						<article class="evento">
							<a href="./evento.html">
								<div class="data-do-evento"><p class="mes-do-evento">Março</p><span>02</span></div>
								<img src=""/>
								<h2>Geeks On Beer 5° edição</h2>
								<h3>Espaço Lapa Café - Rio de Janeiro / RJ</h3>
								<p>Sexta-Feira, de 9:00h às 18:00h</p>
							</a>						
						</article>
						<article class="evento">
							<a href="./evento.html">
								<div class="data-do-evento"><p class="mes-do-evento">Abril</p><span>17</span></div>
								<img src=""/>
								<h2>Geeks On Beer Barbecue Edition</h2>
								<h3>UNIRIO Urca - Rio de Janeiro / RJ</h3>
								<p>Sexta-Feira, de 9:00h às 18:00h</p>
							</a>						
						</article>
						<article class="evento">
							<a href="./evento.html">
								<div class="data-do-evento"><p class="mes-do-evento">Maio</p><span>15</span></div>
								<img src=""/>
								<h2>Título do evento</h2>
								<h3>Local do evento</h3>
								<p>Sexta-Feira, de 9:00h às 18:00h</p>
							</a>						
						</article>
						<article class="evento">
							<a href="./evento.html">
								<div class="data-do-evento"><p class="mes-do-evento">Junho</p><span>07</span></div>
								<img src=""/>
								<h2>Título do evento</h2>
								<h3>Local do evento</h3>
								<p>Sexta-Feira, de 9:00h às 18:00h</p>
							</a>						
						</article>
					</section>
					<aside>
						<a href="#fixme" id="cadastrar">Cadastrar evento</a>
						<div class="box">
							<h4>Eventos por mês</h4>
							<ul>
								<li><a href="#fixme">Janeiro (0)</a></li>
								<li><a href="#fixme">Fevereiro (0)</a></li>
								<li><a href="#fixme">Março (0)</a></li>
								<li><a href="#fixme">Abril (0)</a></li>
								<li><a href="#fixme">Maio (0)</a></li>
								<li><a href="#fixme">Junho (0)</a></li>
							</ul>
							<ul>
								<li><a href="#fixme">Julho (0)</a></li>
								<li><a href="#fixme">Agosto (0)</a></li>
								<li><a href="#fixme">Setembro (0)</a></li>
								<li><a href="#fixme">Outubro (0)</a></li>
								<li><a href="#fixme">Novembro (0)</a></li>
								<li><a href="#fixme">Dezembro (0)</a></li>
							</ul>
						</div>
						<div class="box">
							<h4>Eventos por estado</h4>
							<select>
							  <option value="rio-de-janeiro">Rio de Janeiro (0)</option>
							  <option value="sao-paulo">São Paulo (0)</option>
							  <option value="brasilia">Brasilia (0)</option>
							</select>
						</div>
						<div class="box">
							<h4>Newsletter</h4>
							<p>Inscreva seu email para não perder nenhum dos eventos!</p>
							<input type="text" placeholder="insira seu email aqui"></input>
							<input type="submit" value="Cadastrar"></input>
						</div>
					</aside>
				</section>
			</section>
			
			<footer id="footer">
				<div id="footer-content">
					<a href="./index.html">StartupAgenda</a>
					<ul id="menu-do-footer">
						<li>sobre</li>
						<li>eventos</li>
						<li>contato</li>
					</ul>
					<ul id="social">
						<li><a href="#fixme"><img src="../media/images/util/social/facebook.png" /></a></li>
						<li><a href="#fixme"><img src="../media/images/util/social/twitter.png" /></a></li>
						<li><a href="#fixme"><img src="../media/images/util/social/rss.png" /></a></li>
					</ul>
					<cite id="copyright"></cite>
				</div>
			</footer>
		</section>
    </body>
</html>
